<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KidCareApp"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidCare">

        <activity
            android:name=".RouterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding.RoleSelectActivity" android:exported="false" />
        <activity android:name=".onboarding.GuardianPairingActivity" android:exported="false" />
        <activity android:name=".onboarding.ChildPairingActivity" android:exported="false" />
        <activity android:name=".guardian.GuardianMainActivity" android:exported="false" />
        <activity android:name=".child.ChildHomeActivity" android:exported="false" />
    </application>
</manifest>
